*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: ;
}
.container{
    background-color: #7c757577;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex ;
    align-items: stretch;
    gap: 30px;
    padding: 20px 20px 20px 20px;
    justify-content: flex-start;

}
.profile{
    width: 30%;
   
    order: 1;
    padding: 0.15px, 16px;
    display: flex ;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
}
.basic-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap:20px;
    background-color: #ffffff;
}

.details{
    
    width: 70%;
    height: fit-content;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;

}
.work{
    background-color: #ffffff;
    display: flex;
    align-items: start;
    padding: 20px;
    gap: 20px;
    
    flex-direction: column;
}
h2{
    font-size: 30px;
}
h5{
    font-size: 24px;
}
h6{
    display: flex;
    gap: 10px;
    font-size: 18px;
}
p{
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-family: Roboto ,sans-serif;
    align-items: flex-start;
}
i{
    color: green ;
}
.skill{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
}
.lang{
    margin-top: 15px;
     display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;

}
.education{
    background-color: #ffffff;
    display: flex;
    align-items: start;
    padding: 20px;
    width: 100%;
    gap: 20px;
    
    flex-direction: column;
}
  .progress-container {
            width: 300px;
            background-color: #e0e0e0;
            border-radius: 25px;
            padding: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
        .progress-bar {
            width: 82%;
            height: 25px;
            background-color: #4caf50;
            text-align: center;
            line-height: 25px;
            color: white;
            font-weight: bold;
            border-radius: 25px;
        }
        .progress-bar s80 {
            width: 80%;
            height: 25px;
            background-color: #4caf50;
            text-align: center;
            line-height: 25px;
            color: white;
            font-weight: bold;
            border-radius: 25px;
        }
        .progress-bar s100 {
            width: 300px;
            height: 25px;
            background-color: #4caf50;
            text-align: center;
            line-height: 25px;
            color: white;
            font-weight: bold;
            border-radius: 25px;
        }
        .progress-bar html {
            width: 82%;
            height: 25px;
            background-color: #4caf50;
            text-align: center;
            line-height: 25px;
            color: white;
            font-weight: bold;
            border-radius: 25px;
        }

    @media (max-width:620px) {
        .container{
            width: 100% ;
            border:none ;
            padding-left: 20px;
            padding-right: 20px ;
            flex-wrap: wrap;
        }
        .profile{
            width: 100%;

        }
      
        .details{
            width:100%;
        }
    }
    @media (max-width:820px) {
        .container{
            width: 100% ;
            border:none ;
            padding-left: 20px;
            padding-right: 20px ;
            flex-wrap: wrap;
        }
        .profile{
            width: 100%;

        }
      
        .details{
            width:100%;
        }
    }
